<div class="inner-container home"> 

  <div class="row featurette">

    <div class="col-md-8">
      <h1 class="featurette-heading"><%= link_to @latest_post.title, post_path(@latest_post) %> <br><span class="text-muted">Awesome catch phrase goes here.</span></h1>
      <p class="lead"><%= (truncate(@latest_post.body, length: 500)) %><%= link_to ' read more', post_path(@latest_post) %></p>
    </div>

    <div class="col-md-4 home-image">
      <img class="featurette-image img-responsive" src="http://www.wired.com/images_blogs/design/2013/07/venus-of-google-wallpaper-image_800.jpg" alt="Generic placeholder image">
    </div>

    <div class="post-details col-md-7">
      <div class="col-md-3">
        <% if @latest_post.comments.length > 1 %> 
        <p><%= link_to "#{@latest_post.comments.length} comments ", post_path(@latest_post) %></p>
        <% else %>
        <p><%= link_to "#{@latest_post.comments.length} comment ", post_path(@latest_post) %></p>
        <% end %>
      </div>

      <ul class="col-md-9">
        <% @latest_post.categories.each do |cat| %>
          <li><p class="categories"><%= link_to cat.name, categories_path(cat) %></p><li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<hr class="featurette-divider">
<div class="row">
  <div class="col-md-8 posts">
    <% @posts.each do |post| %>

    <div class="post col-md-11">
      <div class="post-inner">
        <h2><%= link_to post.title, post_path(post) %></h2>
        <p class="date"><%= post.created_at.strftime("%d %b. %Y")%></p>
        <%= (truncate(post.body, length: 160)) %><%= link_to ' read more', post_path(post) %><br><br>
      </div>

      <div class="post-details">
        <div class="col-md-3">
          <% if post.comments.length > 1 %> 
          <p><%= link_to "#{post.comments.length} comments ", post_path(post) %></p>
          <% else %>
          <p><%= link_to "#{post.comments.length} comment ", post_path(@latest_post) %></p>
          <% end %>
        </div>

        <ul class="col-md-9">
          <% post.categories.each do |cat| %>
          <li><p class="categories"><%= link_to cat.name, categories_path(cat) %></p><li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-md-4 other-stuff">
      <h2>Top 10 Most Liked Posts</h2>
    </div>
  </div>
</div>