<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Jordan Luftig's Blog</title>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navBar' %>
  <div class="col-xs-12" id="head-title">
    <h1>JORDAN LUFTIG</h1>
    <h4>WRITING ABOUT STUFF THAT ACTUALY MATTERS</h4>
  </div>
  <div class="container">
    <% if flash[:notice] %>
    <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <% if flash[:error] %>
    <ul>
      <div class="alert"><% flash[:error].each do |error| %>
        <li><%= error %></li>
        <% end %>
      </div>
    </ul>
    <% end %>
    
    <%= yield %>
  </div>

</body>
</html>
